/*body {
  border: 2px solid black;
}*/

.jumbotron-1 {
  background-image: url("http://www.wheretraveler.com/sites/default/files/styles/main_slider/public/WashingtonDC-shutterstock_93633676.jpg?itok=stxmVO3e");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
	background-attachment: fixed;
  /*margin-bottom: 26px;*/
}

.jumbotron-1 h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  padding-top: 120px;
  font-family: 'Poppins', sans-serif;
}

.jumbotron-1 p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.row {
  /*background-image: url(http://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg);*/
}

#intro-list2 {
  text-align: center;
}

.sub {
  width: auto;
  text-align: center;
}

#profile-img {
  border: 2px solid black;
  margin-top: 70px;
  /*margin-left: 7%;
  margin-top: 7px;*/
}

#about-me {
  margin-top: 5px;
}

.important {
  font-weight: bold;
}

.titles {
  padding-bottom: 7px;
  border-bottom: 1px solid #337ab7;
}

.jumbotron {
  width: 100%;
  background-color: lightgray;

}

.col-md-12 {
  margin: 10% 0 5% 0;
}

.col-md-12 h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

#section2 {
  height: 500px;
  margin-top: 2%;
}

.text1 {
  font-size: 12px;
  color: black;
  font-weight: 400;
  text-align: right;
}

.text2 {
  font-size: 16px;
  color: white;
  font-weight: 100;
}

.tech {
  color: crimson;
}

.col-md-6 .text2 {
  margin-top: 20px;
}

.black-back {
  background-color: black;
  padding: 2%;
}

.jumbotron-2 {
  align-items: flex-end;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/2c/07/b5/2c07b52057f1105812e86081798f40f8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-2 h1 {
font-size: 50px;
text-align: center;
margin-bottom: 30px;
padding-top: 30px;
}

.projects {
  margin: 20px 20px;
	width: 30%;
  display: inline-block;
  padding: 10px 0px 20px 0px;
  border: 2px solid black;
}

.project-img {
  margin-top: 10px;
  margin-left: 15%;
}

.project-description {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  margin: 0;
  list-style: none;
}

/* possible adds*/

.link {
  margin-top: 10px;
  margin-left: 26%;
}

.link a {
  background-color: black;
  color: #FFF;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgb(131,130,133);
}

.link a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.footer ul {
  color: white;
  text-align: center;
  margin: 30px auto;
}

.footer li {
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  text-transform: lowercase;
  padding: 0 20px;
}

.footer li:hover {
  color: #7c25f8;
  text-decoration: none;
}
