.gradient {
  background: -moz-linear-gradient(top, rgba(242,246,248,0.66) 0%, rgba(236,241,244,0.66) 8%, rgba(216,225,231,0.75) 32%, rgba(181,198,208,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,246,248,0.66) 0%,rgba(236,241,244,0.66) 8%,rgba(216,225,231,0.75) 32%,rgba(181,198,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,246,248,0.66) 0%,rgba(236,241,244,0.66) 8%,rgba(216,225,231,0.75) 32%,rgba(181,198,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-radius: 0px;
  border: 0;
  margin-bottom: 0;
}

.navbar-brand img {
  width: 50px;
  padding-bottom: 5px;
}

/*.navbar-brand img:hover {
  border-top: 1px solid blue;
}*/

.nav-list ul {
  text-align: center;
  padding-top: 8px;
}

.nav-list li, .nav-list a {
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 3px 20px black;
  float: left;
}

.nav-list a:hover {
  text-decoration: none;
  color: white;
  /*border-top: 1px solid blue;*/
}

.jumbotron-1 {
  background-image: url("http://www.wheretraveler.com/sites/default/files/styles/main_slider/public/WashingtonDC-shutterstock_93633676.jpg?itok=stxmVO3e");
  background-size: cover;
  height: 450px;
  margin-bottom: 120px;
  margin-top: -20px;
}

.jumbotron-1 h1 {
  color: white;
  text-shadow: 0 5px 20px black;
  font-size: 100px;
  text-align: center;
  padding-top: 80px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px;
}

.jumbotron-1 p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: -5px;
}

.sub {
  width: auto;
  text-align: center;
}

#profile-img {
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0px 5px 20px black;
  margin-top: 120px;
  height: 200px;
}

#profile-img:hover {
  height: 160px;
  margin-top: 140px;
  box-shadow: 0px 5px 20px black;
}

.col-md-12 {
  margin: 0 0 5% 0;
}

.col-md-12 h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.col-md-4 {
  margin: 5px 0 0 0;
  float: left;
}

.text1 {
  font-size: 12px;
  color: black;
  font-weight: 400;
  text-align: right;
}

.text2 {
  font-size: 16px;
  color: white;
  font-weight: 100;
}

.great {
  font-weight: bold;
  font-size: 16px;
}

.tech {
  color: crimson;
}

.important {
  font-weight: bold;
}

.important-1 {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

.col-md-6 .text2 {
  margin-top: 20px;
}

.black-back {
  background-color: black;
  padding: 0 2% 2% 2%;
}

.jumbotron-3 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/2c/07/b5/2c07b52057f1105812e86081798f40f8.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 60px;
}

.jumbotron-3 h1 {
font-size: 50px;
text-align: center;
margin-bottom: 20px;
padding-top: 30px;
}

.container-fluid {

}

#ordered-projects {
  list-style-type: lower-roman;
  text-decoration: none;
}

#ordered-projects a{
  text-decoration: none;
  color: black;
}

.projects {
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.65);
}

.project-list {
  width: 250px;
  margin: auto;
  font-style: italic;
}

.project-list li {

}

.project-img {
  margin-top: 10px;
  text-align: center;
}

.project-img img {
  width: 55%;
}

.project-description {
  text-align: center;
  width: 100%;
  height: 120px;
  margin-top: 10px;
  border-top: 1px solid black;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

.project-description li {
  margin: 0;
  list-style: none;
}

.link {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.link a {
  background-color: black;
  color: #FFF;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 20px 0 rgb(131,130,133);
}

.link a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.footer ul {
  text-align: center;
  margin: 30px auto;
}

.footer li {
  color: black;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 0 20px;
  text-shadow: 0 0 0;
}

.footer a:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.footer a:visited {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .jumbotron-1 h1 {
    font-size: 60px;
    padding-top: 120px;
  }

  .jumbotron-1 p {
    font-size: 14px;
  }

  #profile-img {
    height: 130px;
    margin-top: 170px;
    box-shadow: 0px 5px 20px black;
  }

  #profile-img:hover {
    height: 100px;
    margin-top: 190px;
    box-shadow: 0px 5px 20px black;
  }

  .project-description {
    font-size: 10px;
  }

  .col-md-12 h1 {
    font-size: 40px;
    margin-top: -30px;
  }

  .pros h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .nav-list li {
    font-size: 18px;
    padding: 0 2px;
  }

  .projects {
    width: 370px;
  }

  .project-description {
    font-size: 12px;
  }

  .footer li {
    padding: 0 3px;
  }
}
